/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */



.container{
    width: 100vh;
    font-family: 'Grenze Gotisch', cursive;


background-image: url(/halloween/img/desktop/fondo.svg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
width: 100%;


}

.header{

    display: grid;
    grid-template-columns: 400px 800px 460px;
    grid-template-rows: 1fr ;

    


}

.header__img1{
    grid-column: 1/1;
}

.header__img2{
    grid-column: 2/3;
    
}

.header__img3{
    grid-column: 3/3;
    
}

.main{
    display: grid;
    grid-template-columns: 400px 800px 460px;
    grid-template-rows: 1fr ;

    color: #c5c5c5;

 
}

.main__texto{
    font-size: 10rem;
    grid-column: 2/2;


    padding: 20px;
    margin: 0%;
    text-align: center;
    align-self: center;

    color: #cf7520;
    
}

.main__parrafo1{
    padding: 20px;
    grid-column: 1/1;
    align-self: center;
    text-align: center;

}

.main__parrafo2{
    padding: 20px;

    grid-column: 3/3;  
    align-self: center;
    text-align: center;


}

.footer{
    display: grid;
    grid-template-columns: 400px 800px 460px;
    grid-template-rows: 1fr 1fr;
    
    background-image: url(/halloween/img/desktop/fondo.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    color: #c5c5c5;

}

.footer__parrafo1{
    padding: 20px;

    margin: 0%;
    grid-column: 1/1;
    text-align: center;
    align-self: center;


}

.footer__img{
    grid-column: 2/2;

}

.footer__parrafo2{
    padding: 20px;

    margin: 0%;
    align-self: center;
    text-align: center;
    grid-column: 3/3;
    grid-row: 1/1;
}

